body{
    background-color: rgb(30, 144, 172);
}

#calc{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    width: 40vw;
    height: 75vh;
    display: grid;
    grid-template:
    'bar bar bar clear'
    'seven eight nine divide'
    'four five six multiply'
    'one two three substract'
    'zero dot equal add';
    background-color: rgb(26, 26, 26);
}

#bar{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: bar;
    background-color: white;
}

#bar-content{
    width: 100%;
    height: 100%;
    padding: 1vw;
    margin: 0;
    font-size: 2vw;
    color: black;
}

#bar-content:focus{ outline-style: none; }

#zero{ grid-area: zero; }
#one{ grid-area: one; }
#two{ grid-area: two; }
#three{ grid-area: three; }
#four{ grid-area: four; }
#five{ grid-area: five; }
#six{ grid-area: six; }
#seven{ grid-area: seven; }
#eight{ grid-area: eight; }
#nine{ grid-area: nine; }

#divide{ grid-area: divide; }
#multiply{ grid-area: multiply; }
#substract{ grid-area: substract; }
#add{ grid-area: add; }

#dot{ grid-area: dot; }
#equal{ grid-area: equal; }
#clear{ grid-area: clear; }

.operator, .number, #bar-content{ 
    border: 1px solid #111; 
}

.operator, .number{
    font-size: 3vw;
}

.number{ background-color: rgb(230, 230, 230); }
.number:hover{ background-color: rgb(181, 211, 247); }
.number:focus{ outline-style: none; }

.operator{ background-color: rgb(172, 172, 172); }
.operator:hover{ background-color: rgb(181, 211, 247); }
.operator:focus{ outline-style: none; }


@media (max-width: 800px) {
    #calc{
        width: 50vw;
        height: 90vh;
    }
    .number:hover{ background-color: rgb(230, 230, 230); }
    .operator:hover{ background-color: rgb(172, 172, 172); }
}

@media (min-width: 1500px) {
    #calc{
        width: 35vw;
        height: 60vh;
    }
}